@define-color base #121318;
@define-color surface1 #1e1f25;
@define-color surface2 #38393f;
@define-color text #e3e1e9;
@define-color teal #b6c4ff;
@define-color yellow #e3bada;
@define-color peach #c2c5dd;
@define-color sky #344479;
@define-color sapphire #414659;
@define-color green #b6c4ff;
@define-color blue #8f909a;
