@define-color base #0f1416;
@define-color surface1 #1b2022;
@define-color surface2 #343a3c;
@define-color text #dee3e6;
@define-color teal #85d2e8;
@define-color yellow #c0c4eb;
@define-color peach #b2cbd3;
@define-color sky #004e5d;
@define-color sapphire #344a51;
@define-color green #85d2e8;
@define-color blue #899295;
