@define-color base #111318;
@define-color surface1 #1d2024;
@define-color surface2 #37393e;
@define-color text #e1e2e9;
@define-color teal #a7c8ff;
@define-color yellow #dbbde2;
@define-color peach #bdc7dc;
@define-color sky #244777;
@define-color sapphire #3d4758;
@define-color green #a7c8ff;
@define-color blue #8e9199;
