@define-color base #19120c;
@define-color surface1 #251e17;
@define-color surface2 #403830;
@define-color text #eee0d5;
@define-color teal #faba73;
@define-color yellow #becc9c;
@define-color peach #e0c1a3;
@define-color sky #673d00;
@define-color sapphire #58432c;
@define-color green #faba73;
@define-color blue #9d8e81;
