@define-color base #0e1415;
@define-color surface1 #1b2122;
@define-color surface2 #343a3b;
@define-color text #dee4e4;
@define-color teal #81d3de;
@define-color yellow #b9c6ea;
@define-color peach #b1cbcf;
@define-color sky #004f56;
@define-color sapphire #324b4e;
@define-color green #81d3de;
@define-color blue #899294;
