@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: @base;
    border-bottom: 2px solid @surface2;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @text;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: @teal;
    border-bottom: 2px solid @teal;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* Style commun pour les modules de droite */
#cpu, #memory, #backlight, #pulseaudio, #battery, #clock, #tray {
    padding: 0 10px;
    background-color: @surface1;
    margin: 3px 0;
}

/* Coins arrondis légers pour le premier et dernier module du bloc droit */
#cpu {
    border-radius: 4px 0 0 4px;
    color: @peach;
}

#memory { color: @yellow; }
#backlight { color: @teal; }
#pulseaudio { color: @blue; }
#battery { 
    color: @green; 
    border-radius: 0 4px 4px 0;
    margin-right: 5px;
}

#clock {
    background-color: transparent;
    font-weight: bold;
}

#window {
    padding: 0 10px;
    color: @blue;
    font-style: italic;
}
