@import "colors.css";

* {
    font-family: "JetBrainsMono Nerd Font", "DejaVu Sans Mono", monospace;
    font-size: 13px;
    border: none;
    border-radius: 0; /* On oublie les arrondis pour le look i3 */
    margin: 0;
    padding: 0;
}

window#waybar {
    background-color: @base;
    border-bottom: 2px solid @surface2;
    color: @green; /* Couleur globale style terminal */
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: @text;
}

#workspaces button.active {
    background-color: @surface2; /* Fond pour le bureau actif comme i3 */
    color: @green;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
}

/* Modules de droite : On enlève les blocs séparés pour un style ligne continue */
#cpu, #memory, #backlight, #pulseaudio, #battery, #clock, #tray, #network {
    padding: 0 8px;
    background-color: transparent;
    color: @green; /* Tout en vert pour le style rétro */
    border-left: 1px solid @surface2; /* Les petits traits de séparation i3 */
}

#clock {
    font-weight: bold;
}

#window {
    padding: 0 15px;
    color: @green;
    font-style: normal;
}

/* On retire les marges et les couleurs spécifiques pour l'effet monolithique */
#cpu, #battery {
    border-radius: 0;
    margin: 0;
}
