@define-color primary #85d2e8;
@define-color on_primary #003641;
@define-color primary_container #004e5d;
@define-color on_primary_container #afecff;
@define-color secondary_container #344a51;
@define-color on_secondary_container #cee7ef;
@define-color surface #0f1416;
@define-color on_surface #dee3e6;
@define-color on_surface_variant #bfc8cb;
@define-color surface_container_low #171c1e;
@define-color surface_container_high #252b2d;
@define-color surface_container_highest #303638;
@define-color outline_variant #40484b;
@define-color error #ffb4ab;
@define-color on_error #690005;
@define-color error_container #93000a;
@define-color on_error_container #ffdad6;
