* {
    background:     #111318;
    background-alt: #282a2f;
    foreground:     #e1e2e9;
    selected:       #a7c8ff;
    active:         #bdc7dc;
    urgent:         #ffb4ab;
    border-color:   #8e9199;
}
