* {
    background:     #19120c;
    background-alt: #302921;
    foreground:     #eee0d5;
    selected:       #faba73;
    active:         #e0c1a3;
    urgent:         #ffb4ab;
    border-color:   #9d8e81;
}
