* {
    background:     #131313;
    background-alt: #2a2a2a;
    foreground:     #e2e2e2;
    selected:       #ffffff;
    active:         #c6c6c6;
    urgent:         #ffb4ab;
    border-color:   #919191;
}
