/* ROFI TWO LINES THEME */
@import "colors.rasi"

* {
    font:             "Fira Code 10";
    background-color: transparent;
    text-color:       @foreground;
    
    margin:           0px;
    padding:          0px;
    spacing:          0px;
}

window {
    background-color: @background;
    location:         north;
    width:            100%;
    border:           0px 0px 1px 0px;
    border-color:     @border-color;
}

inputbar {
    padding:          2px 8px;
    spacing:          8px;
    background-color: @background-alt;
    children:         [ prompt, entry ];
}

prompt, entry, element-text, element-icon {
    vertical-align:   0.5;
}

prompt {
    text-color:       @selected;
}

listview {
    lines:            1;
    columns:          4;
    background-color: @background; /* Force le fond du conteneur */
}

element {
    padding:          1px 8px;
    spacing:          4px;
}

/* Éléments non sélectionnés (Normal) */
element normal normal {
    background-color: @background;
    text-color:       @foreground;
}

/* Éléments alternés (pour éviter le blanc sur blanc une ligne sur deux) */
element alternate normal {
    background-color: @background;
    text-color:       @foreground;
}

element normal urgent {
    text-color:       @urgent;
}

element normal active {
    text-color:       @active;
}

element alternate active {
    text-color:       @active;
}

/* Éléments sélectionnés */
element selected {
    text-color:       @background; /* Texte sombre sur fond bleu clair */
}

element selected normal {
    background-color: @selected;
}

element selected urgent {
    background-color: @urgent;
}

element selected active {
    background-color: @active;
}

element-icon {
    size:             0.75em;
}

element-text {
    text-color:       inherit;
}
