/* Template généré par Matugen pour wlogout */

* {
    background-image: none;
    font-size: 14px;
    font-family: "Inter", "Helvetica", sans-serif;
}

window {
    /* On applique la couleur de fond directement et on gère l'opacité via la propriété CSS */
    background-color: #0e1415;
    opacity: 0.85;
}

/* Style de base des boutons alignés */
button {
    /* Texte utilisant la couleur "On Surface" */
    color: #dee4e4;
    /* Fond du bouton utilisant une couleur de surface légèrement plus claire */
    background-color: #1b2122;
    
    outline-style: none;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    transition: all 0.2s ease-in-out;
    margin: 10px 2px 10px 2px; 
}

button:focus {
    background-color: #252b2c;
    background-size: 30%;
}

button:hover {
    /* Inversion des couleurs au survol */
    background-color: #dee4e4;
    color: #0e1415;
    background-size: 30%;
}

/* --- Configuration des icônes --- */

#lock {
    background-image: image(url("$HOME/.config/wlogout/icons/lock.png"), url("/usr/share/wlogout/icons/lock.png"));
    border-radius: 8px 0px 0px 8px;
    margin-left: 15px;
}

#logout {
    background-image: image(url("$HOME/.config/wlogout/icons/logout.png"), url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("$HOME/.config/wlogout/icons/suspend.png"), url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("$HOME/.config/wlogout/icons/hibernate.png"), url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("$HOME/.config/wlogout/icons/shutdown.png"), url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("$HOME/.config/wlogout/icons/reboot.png"), url("/usr/share/wlogout/icons/reboot.png"));
    border-radius: 0px 8px 8px 0px;
    margin-right: 15px;
}
