* {
    background:     #1a110e;
    background-alt: #322824;
    foreground:     #f1dfd9;
    selected:       #ffb599;
    active:         #e7beaf;
    urgent:         #ffb4ab;
    border-color:   #a08d86;
}
