* {
    background:     #1a110f;
    background-alt: #322825;
    foreground:     #f1dfdb;
    selected:       #ffb4a3;
    active:         #e7bdb4;
    urgent:         #ffb4ab;
    border-color:   #a08c88;
}
