@define-color base #1a110f;
@define-color surface1 #271d1b;
@define-color surface2 #423734;
@define-color text #f1dfdb;
@define-color teal #ffb4a3;
@define-color yellow #dbc58c;
@define-color peach #e7bdb4;
@define-color sky #723426;
@define-color sapphire #5d3f39;
@define-color green #ffb4a3;
@define-color blue #a08c88;
