@import "colors.css";

* {
  padding: 0;
  margin: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
}

/* ------ Set a Uniform Border Radius ------ */
.modules-left, .modules-center, .modules-right, #cpu, #memory, #temperature, #wireplumber, #backlight, #custom-spotify, #custom-icon, #custom-updates, #language, #network, #battery, #battery#bat1, #tray, #idle_inhibitor, #custom-power, #custom-notification {
  border-radius: 18px;
}

/* ------ Modules Left ------ */
.modules-left {
  background-color: @base;
  padding-right: 5px;
  padding-left: 13px;
}

/* ------ Modules Center ------ */
.modules-center {
  background-color: @base;
  padding-right: 5px;
  padding-left: 5px;
}

/* ------ Modules Right ------ */
.modules-right {
  background-color: @base;
  padding-right: 5px;
  padding-left: 5px;
}

/* ------ Window Title ------ */
#window { 
  color: @text; 
  padding-right: 4px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  background: transparent;
  transition-property: background-color;
  transition-duration: .5s;
}

/* ------ Workspaces ------ */
#workspaces button.empty {
  color: @surface2;
}

#workspaces {
  margin: 0px 1px 0px 1px;
  padding: 0px 1px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 4px 2px;
  color: @yellow;
}

#workspaces button:hover {
  opacity: 0.5;
}

/* ------ Modules Individuels ------ */
#wireplumber {
  color: @peach;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

#backlight {
  color: @sky;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

#language {
  color: @teal;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

#network {
  color: @sapphire;
  background-color: @surface1;
  padding: 2px 8px;
  margin: 4px 2px;
}

#battery {
  color: @teal;
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}

#clock {
  padding: 0 10px;
  color: @text;
  font-weight: bold;
  font-size: 13px;
}

#tray {
  background-color: @surface1;
  padding: 2px 5px;
  margin: 4px 2px;
}

#custom-icon {
  font-size: 18px;
  color: @teal;
  padding-right: 5px;
}

#custom-power {
  color: @teal;
  background-color: @surface1;
  padding: 2px 9px;
  padding-right: 10px;
  margin: 4px 2px;
  font-size: 15px;
}

#custom-notifications {
  color: @yellow;
  background-color: @surface1;
  padding: 2px 9px;
  padding-right: 11px;
  margin: 4px 2px;
  font-size: 15px;
  border-radius: 50px;
}

#idle_inhibitor {
  color: @green;
  background-color: @surface1;
  padding: 2px 9px;
  margin: 5px 2px;
  font-size: 15px;
}

tooltip {
  background: @base;
  border: 1px solid @blue;
}
