@define-color base {{colors.surface.default.hex}};
@define-color surface1 {{colors.surface_container.default.hex}};
@define-color surface2 {{colors.surface_bright.default.hex}};
@define-color text {{colors.on_surface.default.hex}};
@define-color teal {{colors.primary.default.hex}};
@define-color yellow {{colors.tertiary.default.hex}};
@define-color peach {{colors.secondary.default.hex}};
@define-color sky {{colors.primary_container.default.hex}};
@define-color sapphire {{colors.secondary_container.default.hex}};
@define-color green {{colors.primary.default.hex}};
@define-color blue {{colors.outline.default.hex}};
