@define-color primary {{colors.primary.default.hex}};
@define-color on_primary {{colors.on_primary.default.hex}};
@define-color primary_container {{colors.primary_container.default.hex}};
@define-color on_primary_container {{colors.on_primary_container.default.hex}};
@define-color secondary_container {{colors.secondary_container.default.hex}};
@define-color on_secondary_container {{colors.on_secondary_container.default.hex}};
@define-color surface {{colors.surface.default.hex}};
@define-color on_surface {{colors.on_surface.default.hex}};
@define-color on_surface_variant {{colors.on_surface_variant.default.hex}};
@define-color surface_container_low {{colors.surface_container_low.default.hex}};
@define-color surface_container_high {{colors.surface_container_high.default.hex}};
@define-color surface_container_highest {{colors.surface_container_highest.default.hex}};
@define-color outline_variant {{colors.outline_variant.default.hex}};
@define-color error {{colors.error.default.hex}};
@define-color on_error {{colors.on_error.default.hex}};
@define-color error_container {{colors.error_container.default.hex}};
@define-color on_error_container {{colors.on_error_container.default.hex}};
